<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="unica" 
			connectionString="Data Source=DESKTOP-5HI9019\SQLEXPRESS;Initial Catalog=MCVill_Empleados;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
<!-- Clase  donde se hace la conexion con la base de datos mediante el servidor -->